<div fxLayoutAlign="center top" fxFill class="main-div">
  <mat-tab-group> 
    <mat-tab label="Home"> Home Details </mat-tab>
    <mat-tab label="Employee Registration">
      <div fxLayoutAlign="center top" fxFill class="main-div">
        <mat-card fxFlex="25">
          <form  fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-toolbar color="primary">Employee Details</mat-toolbar>
            <mat-form-field><input matInput placeholder="Username" /></mat-form-field>
            <mat-form-field><input matInput placeholder="Abut"/></mat-form-field>
            <mat-form-field><input matInput placeholder="Place" /></mat-form-field>
            <mat-form-field><input matInput  placeholder="City"/></mat-form-field>
            <mat-form-field><input matInput  placeholder="State"/></mat-form-field>
            <mat-form-field><input matInput  placeholder="Coutry"/></mat-form-field>
            <button mat-raised-button type="submit">Login</button>
          </form>
        </mat-card>
      </div>
    </mat-tab> 
    <mat-tab label="public"> public Details</mat-tab>
    <mat-tab label="Admin"> Admin Details</mat-tab>
    <mat-tab label="Developer"> Developer Details</mat-tab>
    <mat-tab label="Admin/Developer"> Admin/Developer Details</mat-tab>
  </mat-tab-group>
</div>